.container-fluid{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}
.nav-link{
  color: white;  
}
.navbar-collapse {
  flex-grow: initial;
}
#Home{background-color:#14a9d2;}
#Block{background-color:#da8a1a;}
#contacto{background-color:#0fd72d;}

nav ul li a{
border-bottom: 3px solid rgb(255, 255, 255);}

nav ul li a:hover {
background: #000;
border-bottom: 3px solid rgb(0, 229, 255);
}

h1{text-align: center;}

body {
    background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/07/origen-nombres-informatica-nunca-hubieras-imaginado_2.jpg?itok=s-Z9jTJv");
  }
  
  h2{
    color: rgb(250, 248, 124);
  }
  p{
    color: rgba(242, 245, 65, 0.986);
  }
  
