h1{text-align: center;}

body {
    background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/07/origen-nombres-informatica-nunca-hubieras-imaginado_2.jpg?itok=s-Z9jTJv");
  }
  
  h2{
    color: rgb(250, 248, 124);
  }
  p{
    color: rgba(242, 245, 65, 0.986);
  }